doc/xsd/prvky_int/StavObjIntTypy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:cz:isvs:ruian:schemas:StavObjIntTypy:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cz:isvs:ruian:schemas:StavObjIntTypy:v1" xmlns:soi="urn:cz:isvs:ruian:schemas:StavObjIntTypy:v1" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:base="urn:cz:isvs:ruian:schemas:BaseTypy:v1" xmlns:com="urn:cz:isvs:ruian:schemas:CommonTypy:v1" xmlns:pai="urn:cz:isvs:ruian:schemas:ParcelaIntTypy:v1" xmlns:coi="urn:cz:isvs:ruian:schemas:CastObceIntTypy:v1" xmlns:mci="urn:cz:isvs:ruian:schemas:MomcIntTypy:v1" elementFormDefault="qualified" version="2.2.0">
	<xs:annotation>
		<xs:documentation xml:lang="cs">Aplikační schéma StavObjIntTypy obsahuje typy stavebního objektu.</xs:documentation>
	</xs:annotation>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:MomcIntTypy:v1" schemaLocation="MomcIntTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CastObceIntTypy:v1" schemaLocation="CastObceIntTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:ParcelaIntTypy:v1" schemaLocation="ParcelaIntTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:CommonTypy:v1" schemaLocation="../typy/CommonTypy.xsd"/>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:BaseTypy:v1" schemaLocation="../typy/BaseTypy.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../../common/gml/3.2.1/gml.xsd"/>
	<xs:complexType name="StavObjIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Prvek Stavební objekt se základními elementy a bez geometrie.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="StavObjIntGroup" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="StavObjIntGroup">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Základní elementy prvku Stavební objekt.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Kod" type="base:Kod9Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Kód stavebního objektu.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Nespravny" type="com:NespravnyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Identifikátor nesprávnosti na prvku.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CislaDomovni" type="com:CisloDomovniSeznamType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Seznam čísel domovních stavebního objektu.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdentifikacniParcela" type="pai:ParcelaIntType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Jedna z parcel, na nichž je stavební objekt postaven, zvolená pro identifikaci objektu (tzv. definiční parcela).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypStavebnihoObjektuKod" type="com:TypSTOKodType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Typ stavebního objektu.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZpusobVyuzitiKod" type="base:Kod4Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Způsob využití.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CastObce" type="coi:CastObceIntType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Nadřazená část obce.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Momc" type="mci:MomcIntType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Nadřazený MOMC.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DatumZruseni" type="base:DatumCasType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Datum zrušení prvku.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="StavObjGMLIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Prvek Stavební objekt jako rozšíření gml:AbstractFeatureType.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:group ref="StavObjIntGroup" minOccurs="1" maxOccurs="1"/>
					<xs:element name="PlatiOd" type="base:DatumCasType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Začátek platnosti.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PlatiDo" type="base:DatumCasType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Konec platnosti.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GlobalniIdNavrhuZmeny" type="com:IdNavrhuZmenyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">ID návrhu změny v ISUI.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdTransakce" type="com:IdTransakceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">ID transakce v RUIAN.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IsknBudovaId" type="base:Id18Type" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">ID budovy v ISKN.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Dokonceni" type="base:DatumCasType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Datum dokončení stavebního objektu.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DruhKonstrukceKod" type="base:Kod4Type" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Druh svislé nosné konstrukce.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ObestavenyProstor" type="com:ObestavenyProstorType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Obestavěný prostor v m3.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PocetBytu" type="com:PocetBytuType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Počet bytů u stavebního objektu s byty.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PocetPodlazi" type="com:PocetPodlaziType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Počet nadzemních a podzemních podlaží.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PodlahovaPlocha" type="com:PodlahovaPlochaType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Podlahová plocha v m2.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PripojeniKanalizaceKod" type="base:Kod4Type" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Připojení na kanalizační síť.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PripojeniPlynKod" type="base:Kod4Type" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Připojení na rozvod plynu.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PripojeniVodovodKod" type="base:Kod4Type" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Připojení na vodovod.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VybaveniVytahemKod" type="base:Kod4Type" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Vybavení výtahem.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ZastavenaPlocha" type="com:ZastavenaPlochaType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Zastavěná plocha v m2.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ZpusobVytapeniKod" type="base:Kod4Type" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Způsob vytápění.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ZpusobyOchrany" type="com:ZpusobOchranySeznamType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Způsob ochrany stavebního objektu.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DetailniTEA" type="DetailniTEASeznamIntType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Detailní tecnicko-ekonomické atributy (TEA).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Geometrie" type="GeometrieStavObjIntType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Geometrické údaje.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NespravneUdaje" type="com:NespravnyUdajListType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation xml:lang="cs">Seznam nesprávnych referenčních údajú.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NezjisteneUdaje" type="com:NezjisteneUdajeType" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GeometrieStavObjIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Geometrické údaje stavebního objektu.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DefinicniBod" type="gml:PointPropertyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Geometrie definičního bodu stavebního objektu.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginalniHranice" type="gml:MultiSurfacePropertyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Originální geometrie hranice stavebního objektu.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginalniHraniceOmpv" type="gml:MultiSurfacePropertyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Originální geometrie hranice stavebního objektu OMP-V.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DetailniTEASeznamIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Seznam detailních tecnicko-ekonomických atributů (TEA).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DetailniTEA" type="DetailTEAIntType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Seznam detailních tecnicko-ekonomických atributů (TEA).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DetailTEAIntType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Detailní tecnicko-ekonomické atributy (TEA).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Kod" type="base:Kod8Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Kód TEA.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlatiOd" type="base:DatumCasType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Začátek platnosti.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Nespravny" type="com:NespravnyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Identifikátor nesprávnosti na prvku.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GlobalniIdNavrhuZmeny" type="com:IdNavrhuZmenyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">ID návrhu změny v ISUI.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DruhKonstrukceKod" type="base:Kod4Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Druh svislé nosné konstrukce.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PocetBytu" type="com:PocetBytuType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Počet bytů.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PocetPodlazi" type="com:PocetPodlaziType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Počet nadzemních a podzemních podlaží.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PripojeniKanalizaceKod" type="base:Kod4Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Připojení na kanalizační síť.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PripojeniPlynKod" type="base:Kod4Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Připojení na rozvod plynu.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PripojeniVodovodKod" type="base:Kod4Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Připojení na vodovod.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZpusobVytapeniKod" type="base:Kod4Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Způsob vytápění.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdresniMistoKod" type="base:Kod9SeznamType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Kód adresního místa.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
