doc/xsd/typy/CommonTypy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:cz:isvs:ruian:schemas:CommonTypy:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:cz:isvs:ruian:schemas:CommonTypy:v1" xmlns:com="urn:cz:isvs:ruian:schemas:CommonTypy:v1" xmlns:base="urn:cz:isvs:ruian:schemas:BaseTypy:v1" elementFormDefault="qualified" version="1.6.1">
	<xs:annotation>
		<xs:documentation xml:lang="cs">Společné datové typy systémů RUIAN, ISUI a ISKN.</xs:documentation>
	</xs:annotation>
	<xs:import namespace="urn:cz:isvs:ruian:schemas:BaseTypy:v1" schemaLocation="BaseTypy.xsd"/>
	<xs:simpleType name="NespravnyType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Příznak nesprávnosti.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="ObrazekType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Obrázek vlajky nebo znaku.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:base64Binary"/>
	</xs:simpleType>
	<xs:simpleType name="VymeraDiluType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Výměra dílu parcely v metrech čtverečních.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:long"/>
	</xs:simpleType>
	<xs:complexType name="BonitovaneDilySeznamType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Seznam bonitovaných dílů parcely.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BonitovanyDil" type="BonitovanyDilType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Bonitované díly parcel.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ZpusobOchranySeznamType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Seznam způsobu ochrany.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ZpusobOchrany" type="ZpusobOchranyType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Způsob ochrany.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ZpusobOchranyType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Způsob ochrany.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Kod" type="base:Kod4Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Kód ochrany.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypOchranyKod" type="base:Kod4Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Typ ochrany.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdTransakce" type="IdTransakceType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">ID transakce v RUIAN.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RizeniId" type="IdRizeniType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">ID řízení v ISKN.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="NutsLauKodType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">NUTS nebo LAU kód.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="NespravnyUdajType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Nesprávny údaj.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NazevUdaje" type="UdajNazevType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Název nesprávneho údaje.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OznacenoDne" type="base:DatumCasType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Den označení údaje za nesprávny.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OznacenoInfo" type="base:Text500Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Popis nesprávnosti.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="UdajKodType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Kód referenčního údaje.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UdajNazevType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Název referenčního údaje.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="NespravnyUdajListType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Seznam nesprávnych údajů.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NespravnyUdaj" type="NespravnyUdajType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Nesprávny údaj.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ExistujeDigitalniMapaType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Příznak, zda digitální katastrální mapa daného katastrálního území již existuje. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="CisloOrientacniType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Číselná část čísla orientačního.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PscType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Poštovní směrovací číslo.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:maxInclusive value="99999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IdTransakceType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Identifikace transakce změny v RUIAN.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:long">
			<xs:maxInclusive value="999999999999999999"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RadekAdresyType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Řádek adresy.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="4000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CisloOrientacniPismenoType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Koncové písmeno čísla orientačního.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PripojkaElektrickeEnergieType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Připojení na rozvod elektrické energie.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="SymbologieType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Symbologie.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypPrvkuType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Výčet základnách typů prvků.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ST">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Území státu.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RS">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Území regionu soudržnosti.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KR">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Území kraje.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VC">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Území vyššího územně samosprávného celku.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OK">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Území okresu.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OP">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Správní obvod obce s rozšířenou působností.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PU">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Správní obvod obce s pověřeným obecním úřadem.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OB">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Území obce, území vojenského újezdu.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SP">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Správní obvod v hlavním městě Praze.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MP">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Území městského obvodu v hlavním městě Praze.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MC">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Území městského obvodu nebo městské části územně členěného statutárního města.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CO">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Část obce.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KU">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Katastrální území.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ZJ">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Území základní sídelní jednotky.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UL">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Ulice nebo jiné veřejné prostranství.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PA">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Pozemek v podobě parcely.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SO">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Stavební objekt.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AD">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Adresní místo.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PO">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Adresní pošta.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VO">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Volební okrsek</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UP">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Účelový prvek</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BU">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Budova</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ZrusenyType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Příznak zrušení prvku.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="FormatAdresyType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Výčet formátů adresy.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="POLOZKOVY">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Položkový formát adresy.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RADKOVY">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Řádkový formát adresy.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VSECHNY">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Všechny dostupné formáty.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PoddeleniCislaType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Poddělení čísla parcely.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:maxInclusive value="999"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VymeraType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Výměra v metrech čtverečních.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:long">
			<xs:maxInclusive value="999999999999999999"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IdNavrhuZmenyType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Identifikace návrhu změny v ISUI.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:long">
			<xs:maxInclusive value="999999999999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PozadovanyUdajType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Příznak požadovaného údaje.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="NullovatHodnotuType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Příznak nulování hodnoty (vymazání).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="CisloDomovniType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Číslo domovní.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:maxInclusive value="9999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="KmenoveCisloType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Evidenční číslo parcely.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:maxInclusive value="99999"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ObestavenyProstorType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Obestavěný prostor v m3.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:maxInclusive value="99999999"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PocetBytuType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Počet bytů.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:maxInclusive value="9999"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PocetPodlaziType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Počet podlaží.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:maxInclusive value="9999"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PodlahovaPlochaType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Podlahová plocha v m2.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:maxInclusive value="999999"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ZmenaGrafikyType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Příznak změny grafických údajů prvku.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="ZmenaDetailuType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Příznak změny detailu prvku.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="TypZmenyNespravnostiType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Výčet typů změn nesprávnosti.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="DELETE">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Zrušení nesprávnosti.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INSERT">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Vytvoření nesprávnosti.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IdRizeniType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Identifikace řízení v ISKN.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:long">
			<xs:maxInclusive value="999999999999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BonitovanyDilType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Bonitované díly parcel.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Vymera" type="VymeraDiluType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Výměra v metrech čtverečných.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BonitovanaJednotkaKod" type="base:Kod5Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Kód bonitovaných půdně ekologických jednotek.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdTranskace" type="IdTransakceType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">ID transakce v RUIAN.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RizeniId" type="IdRizeniType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">ID řízení v ISKN.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PoradiType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Pořadí.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:maxInclusive value="99999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CisloDomovniSeznamType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Seznam čísel domovních.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CisloDomovni" type="CisloDomovniType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Číslo domovní.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ZastavenaPlochaType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Zastavěná plocha v m2.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:maxInclusive value="999999"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PlatnostDatKType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Platnost dat k datu.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ISUI" type="base:DatumCasType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Platnost dat ISUI k Datu.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ISKN" type="base:DatumCasType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Platnost dat ISKN k Datu.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="VerzeVFRType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Verze výměnného formátu.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="TransakceType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Transakce.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Id" type="base:Id18Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Identifikátor transakce v RUIAN.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Zapsano" type="base:DatumCasType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Datum zapsání transakce do RUIAN.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MluvnickeCharakteristikyType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Mluvnické charakteristiky 2 až 7 pád.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Pad2" type="base:Nazev48Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Mluvnická charakteristika pro 2 pád.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Pad3" type="base:Nazev48Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Mluvnická charakteristika pro 3 pád.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Pad4" type="base:Nazev48Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Mluvnická charakteristika pro 4 pád.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Pad5" type="base:Nazev48Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Mluvnická charakteristika pro 5 pád.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Pad6" type="base:Nazev48Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Mluvnická charakteristika pro 6 pád.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Pad7" type="base:Nazev48Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Mluvnická charakteristika pro 7 pád.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="TypZmenyPrvkuType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Výčet typů změn prvku.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="INSERT">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Vytvoření nového prvku.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UPDATE">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Změna současného prvku.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DELETE">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Zrušení současného prvku.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypEditaceType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Výčet typů editace návrhu změny.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="EVIDENCNI">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Evidenční návrh změny.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KONSTITUTIVNI">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Konstitutivní návrh změny.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OPRAVNY">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Opravní návrh změny.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AtributType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Výčet referenčních údajů.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="KODU">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Kód prvku ISUI.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KODN">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Kód prvku ISKN.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ID">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Identifikátor prvku.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NPAU">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Název prvku ISUI.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NPAN">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Název prvku ISKN.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NST">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Nadřazený stát.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NRS">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Nadřazený region soudržnosti.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NKR">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Nadřazený kraj z r. 1960.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NVC">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Nadřazený vyšší územně správní celek.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NPU">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Nadřazená obec s rozšířenou působností.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NOP">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Nadřazená obec s pověřeným obecním úřadem.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NOK">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Nadřazený okres.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NOB">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Nadřazená obec.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NMP">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Nadřazený městský obvod v Hlavním městě Praze.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NSP">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Nadřazený správní obvod ve statutárním městě.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NKU">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Nadřazené katastrální území ISUI.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NKN">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Nadřazené katastrální území ISKN.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NUL">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Nadřazená ulice.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NCO">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Nadřazená část obce.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NMC">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Nadřazený městský obvod nebo městská část ve statutárním městě.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NPA">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Nadřazená parcela.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NSO">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Nadřazený stavební objekt.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CDO">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Číslo domovní.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CORH">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Číslo orientační hodnota.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CORP">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Číslo orientační písmeno.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TSO">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Typ staveního objektu.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ZOSO">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Zpusob ochrany staveního objektu.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ZVN">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Způsob využití nemovitosti.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DPO">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Druh pozemku.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ZOP">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Zpusob ochrany pozemnku.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ZVP">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Způsob využití pozemku.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VPA">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Výměra parcely.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BPP">
				<xs:annotation>
					<xs:documentation xml:lang="cs">BPEJ parcely.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DBPU">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Definiční bod prvku ISUI.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DBPN">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Definiční bod prvku ISKN.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HRPU">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Hranice prvku ISUI.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HRPN">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Hranice prvku ISKN.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DCU">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Definiční čára ulice.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CVO">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Číslo volebního okrsku</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TUP">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Typ účelového prvku</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STUP">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Subtyp účelového prvku</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CUP">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Číslo účelového prvku</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DOK">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Datum dokončení</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PBY">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Počet bytů</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ZPL">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Zastavěná plocha</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OPR">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Obestavěný prostor</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="POP">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Podlahová plocha</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PPO">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Počet podlaží</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DKO">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Druh svislé nosné konstrukce</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VOD">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Připojení na vodovod</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KAN">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Připojení na kanalizační síť</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PLY">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Připojení na rozvod plynu</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ZPV">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Způsob vytápění</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VTH">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Vybavení výtahem</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypZaznamuSouboruType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Výčet typů záznamu výměnného formátu.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Historie">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Historické údaje.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Platne">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Současné údaje.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypDavkySouboruType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Typ dávky souboru výměnného formátu.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Prirustek">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Přírustek dat.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Plna">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Plná kopie dat.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="OmezeniType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Omezující podmínka pro stránkování a třídení.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ZaznamOd" type="xs:int" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Podmínka na výběr záznamú od položky.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZaznamDo" type="xs:int" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Podmínka na výběr záznamú do položky.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrideniKod" type="base:Nazev50Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Kód třídení.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="TypSTOKodType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Typ stavebního objektu.
1 = Budova s číslem popisným.
2 = Budova s číslem evidenčním.
3 = Budova bez čísla popisného či evidenčního.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:maxInclusive value="3"/>
			<xs:minInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypCislaDomovnihoKodType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Kód typu čísla domovního.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="com:TypSTOKodType">
			<xs:maxInclusive value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NutsLauKod12Type">
		<xs:annotation>
			<xs:documentation xml:lang="cs">NUTS nebo LAU kód na 12 znaků.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ZmenaAtributuType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Výčet změn atributů prvku.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CISLO_DOMOVNI"/>
			<xs:enumeration value="CISLO_OR_PISMENO"/>
			<xs:enumeration value="NAZEV">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Změna názvu prvku [ST,RS,KR,VC,OK,OP,PU,OB,SP,MP,MC,CO,KU,ZJ,UL,PO].</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PSC"/>
			<xs:enumeration value="TYP_CISLO_DOMOVNI"/>
			<xs:enumeration value="STAT_KOD">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Změna nadřazeného státu.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="REGSOUDR_KOD">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Změna nadřazeného regionu soudržnosti.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KRAJ_1960_KOD">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Změna nadřazeného kraje 1960.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VUSC_KOD">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Změna nadřazeného VÚSC.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OKRES_KOD">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Změna nadřazeného okresu.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ORP_KOD">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Změna nadřazeného ORP.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="POU_KOD">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Změna nadřazeného POU.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OBEC_KOD">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Změna nadřazené obce.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SPRAVOBV_KOD">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Změna nadřazeného správního obvodu.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MOP_KOD">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Změna nadřazeného MOP.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MOMC_KOD">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Změna nadřazeného MOMC.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="COBCE_KOD">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Změna nadřazené části obce.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KATUZ_KOD">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Změna přirazeného katastrálního území.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ULICE_KOD">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Změna přirazené ulice.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IDENTIFIKACNI_PARCELA_ID">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Změna přirazené parcely.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STAVOBJ_KOD">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Změna přirazeného stavebního objektu.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TEA">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Změna TEA.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ZMENA_GRAFIKY">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Změna grafiky prvku.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SPRAVNI_OBEC_KOD">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Změna správní obce.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SPRAVNI_MOMC_KOD">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Změna správní MOMC.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DRUH_POZEMKU_KOD">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Změna druhu pozemku parcely.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VYMERA_PARCELY">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Změna na výměre parcely.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CISLO_DOMOVNI_HODNOTA">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Změna čísla domovního stavebního objektu.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BONIT_DIL">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Změna bonitního dílu parcely.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ZPUSOB_OCHRANY">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Změna způsobu ochrany.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VO_KOD"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StupenGeneralizaceType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Výčet stupňů generalizace.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ORGINALNI">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Bez generalizace.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STUPEN_1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Generalizace 1 stupně.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STUPEN_2">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Generalizace 2 stupně.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STUPEN_3">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Generalizace 3 stupně.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STUPEN_4">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Generalizace 4 stupně.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STUPEN_5">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Generalizace 5 stupně.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypVymennehoFormatuType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Typ výměnného formátu.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ST_UZSZ">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Základní současná datová sada pro ČR.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ST_UZHZ">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Základní historická datová sada pro ČR.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ST_UKSG">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Kompletní současná datová sada pro ČR.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ST_UKSH">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Kompletní současná datová sada pro ČR včetně originálních hranic.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ST_UKSO">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Kompletní současná datová sada vlajek a znaků pro ČR.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OB_UZSZ">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Základní současná datová sada pro obec.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OB_UZHZ">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Základní historická datová sada pro obec.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OB_UKSH">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Základní současná datová sada pro obec včetně geometrických údajů.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ST_ZZSZ">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Základní změnová, současná datová sada pro stát až ZSJ.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ST_ZZHZ">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Základní změnová, historická datová sada pro stát až ZSJ.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ST_ZKSG">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Změnová, současná datová sada pro stát až ZSJ včetně originálních hraníc.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ST_ZKSH">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Změnová, současná datová sada včetně originálnich hranic pro stát až ZSJ.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ST_ZKSO">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Změnová, současná  datová sada vlajek a znaků.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ST_UCIS">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Stavový výměnný formát číselníků</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ST_ZCIS">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Změnový výměnný formát číselníků</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ST_UVOH">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Speciální výměnný formát - volební okrsky</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ST_UADS">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Stavový výměnný formát adres současný</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ST_ZADS">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Změnový výměnný formát adres současný</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BonitovanaJednotkaType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Typ bonitovaných půdně ekologických jednotek.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:maxInclusive value="99999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VfPscType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Poštovní směrovací číslo.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ZmenaAtributuADType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Výčet změn atributů prvku AD.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CISLO_DOMOVNI"/>
			<xs:enumeration value="CISLO_OR_PISMENO"/>
			<xs:enumeration value="KOD_CO"/>
			<xs:enumeration value="KOD_MOP"/>
			<xs:enumeration value="KOD_OB"/>
			<xs:enumeration value="KOD_SO"/>
			<xs:enumeration value="KOD_UL"/>
			<xs:enumeration value="NAZEV_CO"/>
			<xs:enumeration value="NAZEV_MOP"/>
			<xs:enumeration value="NAZEV_OB"/>
			<xs:enumeration value="NAZEV_UL"/>
			<xs:enumeration value="PSC"/>
			<xs:enumeration value="TYP_CISLO_DOMOVNI"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PlochaUUPType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Plocha účelového prvku</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="3"/>
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PresnostVytyceniType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Přesnost polohového určení.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2"/>
			<xs:totalDigits value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PresnostVymezeniType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Přesnost vymezení v mm</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:totalDigits value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="NezjisteneUdajeType">
		<xs:sequence>
			<xs:element name="Dokonceni" type="NezjistenyTEAType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Zda je technicko-ekonomický atribut Dokončení nezjištěný</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZastavenaPlocha" type="NezjistenyTEAType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Zda je technicko-ekonomický atribut Zastavěná plocha nezjištěný</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PodlahovaPlocha" type="NezjistenyTEAType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Zda je technicko-ekonomický atribut Podlahová plocha nezjištěný</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ObestavenyProstor" type="NezjistenyTEAType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Zda je technicko-ekonomický atribut Obestavěný prostor nezjištěný</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PocetPodlazi" type="NezjistenyTEAType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Zda je technicko-ekonomický atribut Počet podlaží nezjištěný</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PocetBytu" type="NezjistenyTEAType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Zda je technicko-ekonomický atribut Počet bytů nezjištěný</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="IdPrvkuRuianVeVazbeNaUup">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Identifikace prvku, na který má vazbu účelový prvek.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="AdresniMistoKod" type="base:Kod9Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Kód adresního místa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StavebniObjektKod" type="base:Kod9Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Kód stavebního objektu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ParcelaId" type="base:Id18Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="cs">Id parcely</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:group>
	<xs:complexType name="IdPrvkuRuianVeVazbeNaUupType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Identifikace prvku, na který má vazbu účelový prvek.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="IdPrvkuRuianVeVazbeNaUup" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="NezjistenyTEAType">
		<xs:annotation>
			<xs:documentation xml:lang="cs">Indikátor, že je technicko-ekonomický atribut stavebního objektu nezjištěný.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
</xs:schema>
